<footer class="site-footer">

  <div class="wrapper">
    <div class="contacts">
      <a href="mailto:#mepark333@gmail.com"><img src="/images/gmail.png" class="mail" alt="mail"></a>
      <a href="https://github.com/jehyunpark" target="_blank"><img src="/images/github.png" class="github" alt="github"></a>
      <a href="https://kr.linkedin.com/in/jehyunpark" target="_blank"><img src="/images/linkedin.png" class="linkedin" alt="linkedin"></a>
      <a href="https://twitter.com/mepark333" target="_blank"><img src="/images/twitter.png" class="twitter" alt="twitter"></a>
    </div>
    <div class="copyright">
      Copyright 2016. {{ site.title }} All rights reserved.
    </div>
  </div>

</footer>
