<header class="site-header">

  <div class="wrapper">
    <span class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </span>

    <span class="site-menu">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/categories/">Categories</a>
      <a href="{{ site.baseurl }}/about/">About</a>
      <img src="/images/menu-icon.png" class="menu-icon" alt="menu-icon">
    </span>
  </div>

  <ul class="nav-collapse" id="nav-collapse">
    <a href="{{ site.baseurl }}/">
      <li>Home</li>
    </a>
    <a href="{{ site.baseurl }}/about/">
      <li>About</li>
    </a>
  </ul>
</header>
